/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Oranienbaum', serif;
*/
body {
  font-family: 'Cormorant Garamond';
  margin-top: 30px;
}
h1 {
  font-size: 63px;
}
blockquote {
  border: none;
}

blockquote footer {
  font-size: 100%;
}