body {
  font-family: 'Cormorant Garamond';
  margin-top: 30px;
}
h1 {
  font-size: 63px;
}
.shadow {
  background-color: #FFFFFF;	
  box-shadow: 2px 3px 7px 1px #333;
}
.btn {
  padding: 3px 12px;
}
blockquote {
  border: none;
  height: 195px;
}

blockquote footer {
  font-size: 100%;
}